# dependencies
node_modules/

# Yarn Berry
.yarn/cache
.yarn/install-state.gz

# build output
lib/

# TypeScript build info
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

*storybook.log
storybook-static
