name: Release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to release from
        required: true
        type: string
        default: main

permissions:
  contents: read

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ inputs.branch }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn format:check
      - run: yarn build
      - run: yarn test

  release:
    name: Release
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn build

      - name: Release
        run: npx semantic-release --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
